{% extends 'base.html' %}


{% block content %}
  <nav class="nav nav-tabs mt-15 mb-30">
    {% for board in boards %}
      <li class="nav-item">
        {% url 'board:board' board.slug as board_url %}
        <a href="{{board_url}}"{% if request.path == board_url %} class="flex-sm-fill text-sm-center nav-link active"{% else %} class="flex-sm-fill text-sm-center nav-link"{% endif %}>
          {{board.name}}
        </a>
      </li>
    {% endfor %}
  </nav>

  <h1 class="display-4" style="margin-bottom: 50px">{{board.name}}</h1>

  {% for category in categories %}
    <div class="card mb-15" style="width: 18rem;">
      <a class="card-header" href="{% url 'board:category' board.slug category.slug %}">
        {{category.name}}
        <span style="float: right; padding: .3rem .50rem" class="btn btn-outline-primary">
          <small>Topics: <span class="badge badge-light">{{category.topics.count}}</span></small>
        </span>
      </a>
      <ul class="list-group list-group-flush">
        {% for topic in category.topics.all %}
          <li class="list-group-item">
            <a href="{% url 'board:topic' board.slug category.slug topic.slug %}">
              {{topic.name}}
              <span style="float: right; padding: .3rem .50rem" class="btn btn-outline-primary">
                <small>Comments: <span class="badge badge-light">{{topic.posts.count}}</span></small>
              </span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}

{% endblock content %}
