{% extends 'base.html' %}


{% block content %}

  <nav class="nav nav-tabs mt-15 mb-30">
    {% for board in boards %}
      <li class="nav-item">
        <a href="{{board.get_absolute_url}}"{% if request.path == board.get_absolute_url %} class="flex-sm-fill text-sm-center nav-link active"{% else %} class="flex-sm-fill text-sm-center nav-link"{% endif %}>
          {{board.name}}
        </a>
      </li>
    {% endfor %}
  </nav>

  <h1 class="display-4" style="margin-bottom: 50px">{{board.name}}</h1>

  <div class="row">
  {% for category in categories %}
    <div class="col-sm-6">
      <div class="card mb-15" style="max-width: 100%;">
        <a class="card-header" href="{{category.get_absolute_url}}">
          {{category.name}}
          <span style="float: right; padding: .3rem .50rem" class="btn btn-outline-primary">
            <small>Topics: <span class="badge badge-light">{{category.topics.count}}</span></small>
          </span>
        </a>
        <ul class="list-group list-group-flush">
          {% for topic in category.topics.all %}
            <li class="list-group-item">
              <a href="{{topic.get_absolute_url}}">
                {{topic.name}}
                <span style="float: right; padding: .3rem .50rem" class="btn btn-outline-primary">
                  <small>Comments: <span class="badge badge-light">{{topic.posts.count}}</span></small>
                </span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endfor %}
  </div>

{% endblock content %}
